.ycp-layout {
  .content {
    & > .yi-layout {
      margin-bottom: 20px;
    }
  }

  .yi-layout {
    background-color: #f5f5f5;
    text-align: center;
  }
  .yi-header {
    background-color: #32b0f6;
    line-height: 64px;
    color: #fff;
  }
  .yi-footer {
    background: #eeeeee;
    line-height: 64px;
  }
  .yi-aside {
    background: rgba(#32b0f6, 0.6);
    color: #fff;
  }
  .yi-main {
    height: 200px;
    line-height: 200px;
  }
}
