registry=https://npm-registry.duowan.com
@yy:registry=https://npm-registry.duowan.com
@sentry:registry=https://registry.npmmirror.com
sass_binary_site=https://npmmirror.com/mirrors/node-sass/
phantomjs_cdnurl=https://npmmirror.com/mirrors/phantomjs/
sentrycli_cdnurl=https://npmmirror.com/mirrors/sentry-cli
