@import "../../_scss/variables";
.yi-toast {
  background-color: rgba(0, 0, 0, 0.7);
  border: none;
  max-width: 80%;
  min-width: 0;
  color: #fff;
  display: block;
}
@media screen and (mix-width: 960px) {
  .yi-toast {
    max-width: 480px;
  }
}
