@import "./variables";
// 清除浮动
.yi-clearfix:after {
  content: "";
  display: block;
  clear: both;
}
// 左浮动
.yi-pull-left {
  float: left !important;
}
// 右浮动
.yi-pull-right {
  float: right !important;
}
// 文字居中
.yi-text-center {
  text-align: center !important;
}
// 文字居左
.yi-text-left {
  text-align: left !important;
}
// 文字居右
.yi-text-right {
  text-align: right !important;
}
// 文字垂直居中
.yi-text-middle {
  vertical-align: middle !important;
}

// 中粗文字
.yi-text-md {
  font-weight: 600 !important;
}

// 加粗文字
.yi-text-bold {
  font-weight: 900 !important;
}

// 细体文字
.yi-text-thin {
  font-weight: 100 !important;
}

// 普通文字
.yi-text-normal {
  font-weight: 400 !important;
  font-style: normal !important;
}

// 斜体文字
.yi-text-italic {
  font-style: italic !important;
}

// 带删除线文字
.yi-text-through {
  text-decoration: line-through !important;
}

// 现实元素
.yi-show {
  display: block !important;
}
// 隐藏元素
.yi-hidden {
  display: none !important;
}
// 不可见元素
.yi-invisible {
  visibility: hidden !important;
}
// 无边框元素
.yi-no-bordered {
  border: none !important;
}
// 无那边句元素
.yi-no-padding {
  padding: 0 !important;
}
// 无外边句元素
.yi-no-margin {
  margin: 0 !important;
}

// 块级元素居中
.yi-center-block {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

// 文字颜色
@each $key, $value in $colors {
  .yi-text-#{$key} {
    color: $value !important;
  }
  .yi-bg-#{$key} {
    background-color: $value !important;
  }
  .yi-border-#{$key} {
    border-color: $value !important;
  }
}

// 文字颜色
@each $key, $value in $fonts {
  .yi-#{$key} {
    font-size: map-get($value, size) !important;
    line-height: map-get($value, lh) !important;
  }
}
