@import "./define";

$color-primary: map-get($colors, primary);
$color-hover: map-get($colors, hover);
$color-info: map-get($colors, info);
$color-success: map-get($colors, success);
$color-warning: map-get($colors, warning);
$color-error: map-get($colors, error);
$color-blank: map-get($colors, blank);
$color-title: map-get($colors, title);
$color-content: map-get($colors, content);
$color-tip: map-get($colors, tip);
$color-border: map-get($colors, border);
$color-divider: map-get($colors, divider);
$color-disabled: map-get($colors, disabled);
$color-background: map-get($colors, background);

$h1: map-get(map-get($fonts, h1), size);
$h2: map-get(map-get($fonts, h2), size);
$h3: map-get(map-get($fonts, h3), size);
$h4: map-get(map-get($fonts, h4), size);
$h5: map-get(map-get($fonts, h5), size);
$h6: map-get(map-get($fonts, h6), size);

/**  全局  **/
$grid-count: 24; // 栅格布局列
$all-transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) !default;

/** 高度 **/
$item-height: 32px;
$item-height-sm: 24px;
$item-height-md: 32px;
$item-height-lg: 40px;

/** 间距 **/
$spacing: 16px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;

/** 圆角弧度 **/
$radius: 4px;
$radius-sm: 2px;
$radius-md: 4px;
$radius-lg: 6px;

/** 按钮 **/
$btns: (
  sm: (
    height: $item-height-sm,
    padding: $spacing,
    radius: $radius-sm,
    font: $h6,
  ),
  md: (
    height: $item-height-md,
    padding: $spacing-lg,
    radius: $radius-md,
    font: $h5,
  ),
  lg: (
    height: $item-height-lg,
    padding: $spacing-lg + $spacing-sm,
    radius: $radius-lg,
    font: $h4,
  ),
);

/** 单选按钮 **/
$radios: (
  sm: (
    size: 12px,
    checked: 3px,
  ),
  md: (
    size: 16px,
    checked: 4px,
  ),
  lg: (
    size: 20px,
    checked: 5px,
  ),
);

/** checkbox **/
$checkbox-size: 16px;

/** message **/
$message-height: 80px;
