.container{
  font-family:"Microsoft YaHei";
  width:100%;
  height: 100%;
  background: url('../images/bg.png') no-repeat;
  background-size: cover;
}
.button {
  position: fixed;
  top: 10px;
  right:-60px;
}
.button img {
  width:15%;
  height:15%;
}
.header {
  width: 100%;
  height: 60px; 
  background: url('../images/header.png') no-repeat;
  background-size: 100% 100%;
  text-align: center;
  color: #05fbcc;
  line-height: 60px;
  font-size: 28px;
}
.headerTwo {
  width: 100%;
  height: 60px;
  color: #fff;
  font-size: 26px;
  line-height: 60px;
  text-align: center;
}
.headerTwo img {
  max-height:20px;
}
.word{
  color:#fff;
  position: fixed;
  font-size:16px;
  top: 96px;
  left: 45px;
}
.dqSquare {
  display: inline-block;
  width: 20px;
  height:12px;
  background-color: #05fbcc;
  margin-bottom: -1px;
  margin-right: 5px;
  margin-left: 20px;
}
.lsSquare {
  display: inline-block;
  width: 20px;
  height:12px;
  background-color: #e5cf2f;
  margin-bottom: -1px;
  margin-left: 10px;
  margin-right: 5px;
}
.boxMenu {
  width: 300px;
  position: fixed;
  top: 80px;
  right:10px;
  z-index:1000;
}
#dataGeneration {
  margin-left: 10px;
}
.mainBox {
  width: calc(100% - 30px);
  display: flex; 
  margin-right:15px;
  margin-left:15px;
  margin-bottom:10px;
}
.boxTopLeft {
  box-sizing: border-box;
  /* padding-bottom: 10px; */
  width:50%;
  background: url('../images/boxbg.png') no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
}
.boxTopRight {
  box-sizing: border-box;
  /* padding-bottom: 10px; */
  margin-left:20px;
  width:50%;
  background: url('../images/boxbg.png') no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
}
.bottomBox{
  width: calc(100% - 30px);
  display: flex; 
  margin-right:15px;
  margin-left:15px;
}
.boxBottomLeft {
  box-sizing: border-box;
  /* padding-bottom: 10px; */
  width:50%;
  background: url('../images/boxbg.png') no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
}
.boxBottomRight {
  box-sizing: border-box;
  /* padding-bottom: 10px; */
  margin-left:20px;
  width:50%;
  background: url('../images/boxbg.png') no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
}
.titles {
  box-sizing: border-box;
  width:100%;
  height:75px;
  color: #fff;
  text-align: center;
  padding-top:10px;
  /* background:darkgray; */
}
.modelName {
  box-sizing: border-box;
  padding-left:9%;
  padding-right:3%;
  width:100%;
  height:55px;
  color: #fff;
  text-align: center;
  /* background:darkgray; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.centerTitle {
  width:160px;
  display:inline-block;
}
.titleOne {
  font-size: 16px;
  font-weight: bold;
}
.viewNum,.satisfactoryNum,.rateLineNum,.averageLineNum {
  box-sizing: border-box;
  padding-left:9%;
  padding-right:3%;
}
.tableInfos {
  width: 100%;
  margin: 0 auto;
  table-layout: fixed;
  font-size: 14px;
}
.item {
  width:100%;
  word-wrap: break-word;
  word-break: break-all;
  overflow: hidden;
  transform: rotate(-6.5deg);  
}
.oneContent {
  color:#05fbcc
}
.twoContent {
  color:#e5cf2f
}
.batteryBar {
  width:100%;
  height:100%;
}
.satisfiedLine {
  width:100%;
  height:100%;
}
.rateLine {
  width:100%;
  height:100%;
}
.averageLine {
  width:100%;
  height:100%;
}
/* 修改组件样式 */
.boxMenu .el-input--suffix .el-input__inner {
    padding-right: 20px;
}
/*
.boxMenu .el-select-dropdown__item {
  font-size: 16px;
} */
div#popContainer {
  display: none;
  text-align: center;
  line-height: 100vh;
  color: white;
  width: 100vw;
  font-size: 30px;
  z-index: 99999999;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3)
}
.tubiao {
  width:12px;
  height:12px;
  background:#05fbcc;
  display:inline-block;
  margin-right:10px;
  border-radius: 50%;
}
.tubiao2 {
  width:12px;
  height:12px;
  background:#e5cf2f;
  display:inline-block;
  margin-right:10px;
  border-radius: 50%;
}