.boxBig {
  width: 100%;
  font-family:"Microsoft YaHei";
  overflow: hidden;
}
.parent {
  margin-right: -20px;
  overflow: hidden;
}
.content {
  padding-right: 10px;
  box-sizing: border-box;
}
.pase,.pqa{
  float: left;
  width: calc(50% - 20px);
  margin-right: 20px;
}

.pqa {
  position: relative;
}

.inputWidth > .el-input {
  width: 100%;
} 

.illegalInfo {
  overflow: auto;
}
.bottom1 > .el-form-item--mini.el-form-item, .el-form-item--small.el-form-item {
  margin-bottom: 10px;
}

.overNone {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor:pointer;
}