@import "../../_scss/variables";
@import "../../_scss/mixin";

$raido-default: map-get(
  $map: $radios,
  $key: md,
);

.yi-radio {
  display: inline-block;
  position: relative;
  font-size: 0;
  height: map-get($map: $raido-default, $key: size);
  margin-right: $spacing-lg;
  cursor: pointer;

  & > * {
    display: inline-block;
  }

  .yi-radio--input {
    border: 1px solid $color-border;
    border-radius: 100%;
    width: map-get($map: $raido-default, $key: size);
    height: map-get($map: $raido-default, $key: size);
    margin-right: $spacing-sm;
    background-color: $color-blank;

    vertical-align: middle;
    transition: $all-transition;
    input {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: map-get($map: $raido-default, $key: size);
      height: map-get($map: $raido-default, $key: size);
      cursor: pointer;
    }
  }
  .yi-raido--label {
    font-size: $h5;
    line-height: map-get($map: $raido-default, $key: size);
    vertical-align: middle;
    transition: $all-transition;
  }

  &.checked {
    .yi-radio--input {
      border: map-get($map: $raido-default, $key: checked) solid $color-primary;
    }
  }

  &.disabled {
    cursor: not-allowed;
    .yi-radio--input {
      border-color: $color-disabled;
    }

    input {
      cursor: not-allowed;
    }

    .yi-raido--label {
      color: $color-disabled;
    }
  }

  &:hover {
    .yi-radio--input:not(.checked) {
      border-color: $color-primary;
    }
  }

  @each $key, $value in $colors {
    &.#{$key} {
      &.checked {
        .yi-radio--input {
          border-color: $value;
        }
        .yi-raido--label {
          color: $value;
        }
      }
      &:hover {
        .yi-radio--input:not(.checked) {
          border-color: $value;
        }
      }
    }
  }

  @each $key, $value in $radios {
    &.#{$key} {
      $raido-height: map-get($value, size);
      height: $raido-height;
      .yi-radio--input {
        width: $raido-height;
        height: $raido-height;
        input {
          width: $raido-height;
          height: $raido-height;
        }
      }
      .yi-raido--label {
        line-height: $raido-height;
      }
      &.checked {
        .yi-radio--input {
          border-width: map-get($value, checked);
        }
      }
    }
  }
}
