<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="../static/css/reset.css">
	</link>
	<link rel="stylesheet" href="../static/css/theme-chalk/index.css">
	<link rel="stylesheet" href="../static/css/elementui.css">
	<link rel="stylesheet" type="text/css" href="../static/css/qualityDetails.css" />
	<title>百年客服</title>
</head>

<body>
	<!-- 最后可删除 -->
	<div style="height: 49px;width: 100%;box-sizing: border-box;"></div>
	<div class="boxBig">
		<div class="parent">
			<div class="pase">
			</div>
			<div class="pqa" id="app">
				<div class="content">
					<el-form :model="ruleForm" :rules="rules" ref="ruleForm" class="demo-ruleForm" size="mini">
						<el-row>
							<el-col :span="12" :xs="1">
								<el-form-item label="质检结果:" prop="result" label-width="85px">
									<el-select v-model="ruleForm.result" placeholder="请选择质检结果" :disabled="isApeal">
										<el-option v-for="item in qaResult" :key="item.value" :label="item.label" :value="item.value">
										</el-option>
									</el-select>
								</el-form-item>
							</el-col>
							<el-col :span="12" :xs="1">
								<el-form-item label="是否应该核保:" prop="resource" label-width="120px">
									<el-radio-group v-model="ruleForm.resource" :disabled="isApeal">
										<el-radio label="是" value="是"></el-radio>
										<el-radio label="否" value="否"></el-radio>
									</el-radio-group>
								</el-form-item>
							</el-col>
						</el-row>
						<div class="illegalInfo">
							<div v-for="(ite,index) in ruleForm.formData" :key="index">
								<el-row>
									<el-col :span="7" :xs="1">
										<el-form-item label="违规类型:" label-width="78px">
											<!-- emitPath:false绑定只有子叶节点 -->
											<el-cascader ref="cascader" v-model="ite.leixing" placeholder="试试搜索：指南" :options="options"
												:show-all-levels="false" filterable @change="changeVal" :props="{emitPath:false}"
												@visible-change="visibleChange" :disabled="isApeal">
											</el-cascader>
										</el-form-item>
									</el-col>
									<el-col :span="5" :xs="1">
										<el-form-item label="违规等级:" label-width="78px">
											<el-select v-model="ite.dengji" size="mini" class="inputWidth" :disabled="isApeal">
												<el-option label="A" value="A"></el-option>
												<el-option label="B" value="B"></el-option>
												<el-option label="C" value="C"></el-option>
												<el-option label="D" value="D"></el-option>
											</el-select>
										</el-form-item>
									</el-col>
									<el-col :span="6" :xs="1">
										<el-form-item v-if="isApeal" label="建议:" label-width="50px">
											<el-tooltip v-if="ite.jianyi.length>9" class="item" effect="dark" :content="ite.jianyi"
												placement="top">
												<div class="overNone">{{ite.jianyi}}</div>
											</el-tooltip>
											<div v-else class="overNone">{{ite.jianyi}}</div>
										</el-form-item>
										<el-form-item v-else label="建议:" label-width="50px">
											<el-input v-model="ite.jianyi"></el-input>
										</el-form-item>
									</el-col>
									<el-col :span="6" :xs="1">
										<el-form-item v-if="isApeal" label="备注:" label-width="50px">
											<el-tooltip v-if="ite.beizhu.length>9" class="item" effect="dark" :content="ite.beizhu"
												placement="top">
												<div class="overNone">{{ite.beizhu}}</div>
											</el-tooltip>
											<div v-else class="overNone">{{ite.beizhu}}</div>
										</el-form-item>
										<el-form-item v-else label="备注:" label-width="50px">
											<el-input v-model="ite.beizhu"></el-input>
										</el-form-item>
									</el-col>
								</el-row>
							</template>
						</div>
						<div class="bottom">
							<div class="bottom1" style="width: 60%">
								<el-form-item label-width="10px">
									<el-button v-if="!isApeal" type="primary" size="mini" @click="addFormData">添加</el-button>
								</el-form-item>
								<el-form-item v-if="isApeal" label="质检备注:" label-width="80px">
									<el-tooltip v-if="ruleForm.pqabeizhu.length>25" class="item" effect="dark"
										:content="ruleForm.pqabeizhu" placement="top">
										<div class="overNone">{{ruleForm.pqabeizhu}}</div>
									</el-tooltip>
									<div v-else class="overNone">{{ruleForm.pqabeizhu}}</div>
								</el-form-item>
								<el-form-item v-else label="质检备注:" label-width="80px">
									<el-input v-model="ruleForm.pqabeizhu" maxlength="200" placeholder="可输入200字"></el-input>
								</el-form-item>
								<el-row v-if="isApeal">
									<el-col :span="12" :xs="1">
										<el-form-item label="复议结果:" label-width="80px">
											<el-select v-model="ruleForm.fyresult" placeholder="复议结果">
												<el-option v-for="item in qaResult" :key="item.value" :label="item.label" :value="item.value">
												</el-option>
											</el-select>
										</el-form-item>
									</el-col>
									<el-col :span="12" :xs="1">
										<el-form-item label="复议备注:" label-width="80px">
											<el-input v-model="ruleForm.fuyibeizhu"></el-input>
										</el-form-item>
									</el-col>
								</el-row>
							</div>
							<el-form-item label-width="10px" align='right'>
								<el-button type="primary" @click="submitForm('ruleForm')">完成提交</el-button>
								<!-- <el-button @click="resetForm('ruleForm')">重置</el-button> -->
							</el-form-item>
						</div>
					</el-form>
				</div>
			</div>
		</div>
	</div>
	<script src="../static/js/jquery.min.js"></script>
	<script src="../static/js/vue.js"></script>
	<script src="../static/js/elementui.js"></script>
	<script src="../static/js/qualityDetails.js"></script>
</body>

</html>