@import "../../_scss/variables";
.yi-message {
  background-color: $color-blank;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: $radius;
  height: $message-height;
  border-color: $color-border;
  top: $message-height;

  .yi-icon {
    font-size: $h2;
    margin-right: $spacing-sm;
  }
  &.yi-message-info {
    & > * {
      color: $color-primary;
    }
  }
  &.yi-message-success {
    & > * {
      color: $color-success;
    }
  }
  &.yi-message-warning {
    & > * {
      color: $color-warning;
    }
  }
  &.yi-message-error {
    & > * {
      color: $color-error;
    }
  }
}
