.ycp-doc {
  .ycp-doc-item {
    padding: 16px;
    margin-bottom: 24px;
    & > header {
      font-size: 20px;
      margin-bottom: 24px;
    }
    p {
      margin: 10px 0;
    }

    .limit-container {
      max-width: 1000px;
    }
  }

  .spacing {
    margin-right: 16px;
  }
  .block {
    margin-bottom: 16px;
  }
}
