@import "./variables.scss";
@import "./doc.scss";

html,
body {
  height: 100%;
  width: 100%;
  position: relative;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial,
    sans-serif;
  line-height: 1.5;
  z-index: 0;
  color: #3c3c3c;
  padding: 0;
  margin: 0;
  font-size: 14px;
}
