.ycp-view {
  max-width: 1200px;
  border: 1px solid #eaeaea;
  box-sizing: border-box;
  .content {
    padding: 20px;
  }
  .code-content {
    pre {
      padding: 0 20px;
    }
    .toggle {
      cursor: pointer;
      text-align: center;
      height: 48px;
      line-height: 48px;
      border-top: 1px dashed #eaeaea;
      border-bottom: 1px solid #eaeaea;
      i {
        margin-right: 10px;
      }
    }
  }
}
