.ycp-font {
  .ex-item {
    margin-bottom: 40px;
    p {
      margin-bottom: 20px;
    }
  }
  .font-item {
    width: 800px;
    .font-img {
      margin-top: 12px;
      height: 28px;
    }
  }
}
